name: Deploy Laravel App

on:
  push:
    branches:
      - rustam-swe-patch-1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH key
        run: |
          echo "$SSH_PRIVATE_KEY" > key.pem
          chmod 600 key.pem
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem root@185.191.141.44 << 'EOF'
            cd /var/www/useful-contents-library
            git pull origin rustam-swe-patch-1
            composer install --no-interaction --prefer-dist --optimize-autoloader
            docker exec content-hub-app php artisan migrate --force
            docker exec content-hub-app php artisan config:cache
            docker exec content-hub-app php artisan route:cache
            docker exec content-hub-app php artisan view:cache
          EOF
